@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;400;700&display=swap');


body{
    background-image: url(../img/w3.png);
    background-repeat: no-repeat !important;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Quicksand', sans-serif;

    
}
::selection{
  color: #0D0A58;
  background: #b3d4ddc4;
}


/* for navbar */
nav{
    margin-left: 5rem;
    margin-right: 5rem;

    font-weight: bolder;
}

.navbar-brand{
    font-weight: bold;
}


.welcome-header{
    font-weight: bold;
}

#log-link a::before {
    content: '' !important;
    display: block !important;
    height: 3px !important;
    background-color: #444 !important;
  
    position: relative !important;
    top: calc(35px) !important;
    width: 0% !important;
  
    transition: all ease-in-out 100ms !important;
}
  
#log-link a:hover::before {
    width: calc(100%) !important;
}

#log-link a:hover {
    color: #000  !important;
}

.navbar-nav .vr{
    width: 1px !important;
    opacity: 50% !important;
}


.buttons {
    display: flex;
    justify-content: space-between;

    margin-top: 2rem;

    width: 90%;
}

.button-links{
    border: 2px solid #444444;

    padding: 0.3rem 0.5rem;

    color: #444;

    text-decoration: none;
    font-weight: bolder;

    
    
    transition: all ease-in-out 200ms ;
}

.button-links:hover{

    background-color: #444444;
    color: white;
}

.generate-key{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.generate-key a{
    background-color: #b3d4dd !important;
    /* border-radius: 5px !important; */
    transition: all ease-in-out 200ms !important;

    padding: 0.7rem 1rem;
    text-decoration: none;
    color: black;
}

.generate-key a:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4) !important;
}


/* tooltip */
.tooltip-inner {
    text-align: left;
    max-width: 500px;
}







/* login page */
.page_container {
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    min-height: 70vh;
}

.form_container{
    background-color: white;
    padding: 2rem 3rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.192);
    width: 40vw !important;
}


.form_heading{
    margin: 0 0;
    padding: 1rem 1rem;
}

.form_heading h1{
    margin-bottom: 0;
}

.form_heading::before {
    content: '' ;
    display: block ;
    height: 2px ;
    background-color: #b3d4dd;
  
    position: relative ;
    top: calc(4em) ;
    width: 100% ;
}


.form_container .form-outer{
    overflow: hidden;

}

.form_container .form-outer form{
    display: flex;
    width: 200%;
}

.form-outer form .page{
    width: 100%;
    padding: 1rem 1rem;
    transition: margin-left 0.2s ease-in-out;
}


.form-outer form .page .title{
    
    margin: 1rem auto;
    font-size: 1.6rem;
    font-weight: 500;

    display: inline-block;
    border-bottom: 2px dotted #b3d4dd;
}


.form_container input[type=text], input[type=password] {
    border-bottom: 2px solid #b3d4dd !important;
}

.form_container button{
    background-color: #b3d4dd;
    width: 100%;

    border-radius: 0;
    border: 0 !important;

    transition: all ease-in-out 200ms ;
}

.form_container button:hover{
    background-color: #b3d4dd;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
}

#secret_key_file {
    padding: 10px 20px;

}

#secret_key_file::file-selector-button {
    font: inherit;
    border: none;
    background-color: #b3d4dd;
    padding: 5px 10px;
    cursor: pointer;
}


.page_container .form-outer .btns{
    display: flex;
    flex-direction: row;

    gap: 10px
}
