{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid Activation Link</title>

    <link rel="stylesheet" href="{% static 'css/invalid_links.css' %}">

</head>

<body>


    <div class="body-container-blur">

        <div class="container">
    
            <h1>Invalid Activation Link</h1>
            <p>
                The activation link you clicked on is invalid or expired. Please try again
                or contact support for assistance.
            </p>

        </div>

    </div>

    


</body>
</html>



