{% extends 'site/base.html' %}

{% block content %}

<div class="page_container">

    <div class="form_container mb-4">

        <div class="form_heading">

            <h1>Verification Email Sent</h1>
        </div>
    
        <div class="mt-4">
            <p>
                We have sent an email with instructions to activate your account. <br>
                Please check your inbox and click on the link to complete the registration.
            </p>

        </div>

    </div>

</div>



{% endblock %}